body {
  margin: 0 auto;
  background-color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #fff;
}

h1 {
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 5.625rem;
}

p {
  font-size: 1.125rem;
  line-height: 2rem;
  opacity: 0.4;
}

a {
  font-size: 1.125rem;
  line-height: 2rem;
  text-decoration: none;
  color: #fff;
}

a:hover {
  opacity: 0.9;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.menu {
  padding: 0 3.125rem;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-cta {
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  align-items: center;
}

.secondary-btn {
  background-color: #bfaff2;
  color: #333333;
  border-radius: 15px;
  height: 50px;
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.padding-global {
  padding: 0 6.25rem;
}

.hero-content {
  padding: 4.8125rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7.1875rem;
}

.hero-text {
  width: 50%;
}

.hero-text h1 {
  margin-bottom: 2.5rem;
}

.hero-text p {
  margin-bottom: 4.5rem;
}

.primary-btn {
  background-color: #f8d57e;
  color: #333333;
  border-radius: 15px;
  height: 50px;
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image-wrapper {
  border-radius: 20px;
  background-color: #333333;
  width: 50%;
  height: 446px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 375px) {
  .menu-cta {
    display: none;
  }

  .menu {
    padding: 0 1.25rem;
  }
}
