body {
  margin: 0 auto;
  background-color: #2b2b2b;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #fff;
}

a {
  font-size: 1.125rem;
  line-height: 2rem;
  text-decoration: none;
  color: #fff;
}

a:hover {
  opacity: 0.9;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.menu {
  padding: 0 3.125rem;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu-cta {
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
  align-items: center;
}

.secondary-btn {
  background-color: #bfaff2;
  color: #333333;
  border-radius: 15px;
  height: 50px;
  width: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 375px) {
  .menu-cta {
    display: none;
  }

  .menu {
    padding: 0 1.25rem;
  }
}
